certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
idna==3.3
itsdangerous==2.1.2
MarkupSafe==2.1.1
pika==1.2.0
pymongo==4.0.2
urllib3==1.26.9
Werkzeug==2.0.3
requests==2.27.1
mysql-connector-python==8.0.27
pymysql==1.0.3
